<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>789704201759-4m5fqoqoh03kogq1iue09rb28h6a21fo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789704201759-4m5fqoqoh03kogq1iue09rb28h6a21fo</string>
	<key>API_KEY</key>
	<string>AIzaSyCre6767v9M5lQM1N9EQj2o7J6RK8fd86M</string>
	<key>GCM_SENDER_ID</key>
	<string>789704201759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.C4Q.VhsHackcess</string>
	<key>PROJECT_ID</key>
	<string>vhs-c4c</string>
	<key>STORAGE_BUCKET</key>
	<string>vhs-c4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:789704201759:ios:4752fe9e2a77754d</string>
	<key>DATABASE_URL</key>
	<string>https://vhs-c4c.firebaseio.com</string>
</dict>
</plist>
